body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.page {
  background: #ffffff;
  min-height: 100vh;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}

.logo {
  font-size: 28px;
  font-weight: 600;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.add-btn {
  background: #e6f76b;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.add-btn:hover {
  transform: scale(1.05);
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #ddd;
}

/* .container {
  max-width: 1200px;
  margin: 60px auto;
  text-align: center;
  padding: 0 20px;
} */
 .container {
  width: 100%;
  max-width: 1200px;
  margin: 80px auto 0;
  padding: 0 40px;
  text-align: center;
}


 /* .container h1 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 12px;
}

.container p {
  color: #888;
  margin-bottom: 30px;
  line-height: 1.5;
} */

.container h1 {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 15px;
}

.container p {
  max-width: 500px;
  margin: 0 auto 30px;
  color: #777;
  line-height: 1.6;
}



.count {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}

.count span {
  color: #4cd964;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 60px 50px;
  justify-content: center;
  margin: 50px auto 0;
}


 .card {
  width: 150px;
  height: 150px;
  background: #f1f1f1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}


.card:hover {
  transform: scale(1.08);
}

.card.selected {
  background: #e9fff1;
  border-color: #4cd964;
  transform: scale(1.12);
  box-shadow: 0 10px 25px rgba(76, 217, 100, 0.3);
}

.emoji {
  font-size: 34px;
  margin-bottom: 8px;
}

.submit-btn {
  margin: 60px auto 0;
  display: block;
  padding: 16px 55px;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  cursor: not-allowed;
  background: #ccc;
  transition: 0.3s;
}


.submit-btn.active {
  background: #9fe7b8;
  cursor: pointer;
}

.submit-btn.active:hover {
  background: #7ddfa3;
  transform: scale(1.05);
}


 @media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


