.dashboard {
  padding-top: 10px;
}

.dashboard h1 {
  margin-bottom: 30px;
}

/* Cards row */
.card-row {
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* Card */
.card {
  background: white;
  padding: 30px;
  width: 220px;

  border-radius: 12px;

  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.card p {
  color: #555;
}

.card h2 {
  color: #2563eb;
  font-size: 28px;
}
