body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#f4f6f8;
}

.register-container{
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
animation:fadeIn 0.8s ease;
}

.register-card{
width:460px;
background:white;
padding:30px;
border-radius:14px;
box-shadow:0 15px 40px rgba(0,0,0,0.08);
animation:cardSlide 0.7s ease;
}

.logo-subtitle{
text-align: center;
color:black;
font-size:25px;
font-weight: 500;
margin-bottom:20px;
}

.register-card input,
.register-card select{
width:100%;
padding:15px;
margin-bottom:15px;
border:1px solid #ddd;
border-radius:10px;
font-size:15px;
transition:all 0.25s ease;
}

.register-card input:focus,
.register-card select:focus{
outline:none;
border-color:#4CAF50;
box-shadow:0 0 0 2px rgba(76,175,80,0.15);
transform:scale(1.02);
}

.password-wrapper{
position:relative;
}

.toggle-password{
position:absolute;
right:12px;
top:15px;
cursor:pointer;
}

.gender{
display:flex;
gap:10px;
margin-bottom:15px;
}

.gender button{
flex:1;
padding:12px;
border:1px solid #ddd;
border-radius:10px;
background:white;
cursor:pointer;
transition:0.2s;
}

.gender button:hover{
border-color:#4CAF50;
}

.gender .active{
background:#4CAF50;
color:white;
border:none;
}

.register-btn{
width:100%;
padding:14px;
background:#4CAF50;
border:none;
border-radius:10px;
color:white;
font-size:16px;
cursor:pointer;
transition:all 0.25s ease;
}

.register-btn:hover{
background:#43a047;
transform:translateY(-2px);
box-shadow:0 8px 18px rgba(0,0,0,0.15);
}

.login-link{
text-align:center;
margin-top:12px;
}

.login-link a{
color:#4CAF50;
text-decoration:none;
}

.login-link a:hover{
text-decoration:underline;
}

.field-error{
color:red;
font-size:12px;
margin-top:-10px;
margin-bottom:10px;
}

@keyframes fadeIn{
from{opacity:0}
to{opacity:1}
}

@keyframes cardSlide{
from{
opacity:0;
transform:translateY(40px);
}
to{
opacity:1;
transform:translateY(0);
}
}

@keyframes logoFloat{
0%{transform:translateY(0)}
50%{transform:translateY(-6px)}
100%{transform:translateY(0)}
}