.sidebar {
  width: 300px;
  height: 100vh;
  background: linear-gradient(180deg,#0F172A,#020617);
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;

  box-shadow: 6px 0 25px rgba(0,0,0,0.25);
}

/* logo */

.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 45px;
}

.logo-box {
  width: 36px;
  height: 36px;
  border-radius: 10px;

  background: linear-gradient(135deg,#5a78e0,#7b4db8);

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.logo-text {
  font-size: 18px;
  font-weight: 600;
}

/* menu */

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 14px;

  padding: 12px 14px;
  border-radius: 10px;

  text-decoration: none;
  color: #CBD5E1;
  font-size: 14px;

  transition: all 0.25s ease;
}

.menu-item:hover {
  background: rgba(255,255,255,0.08);
  color: white;
  transform: translateX(3px);
}

/* active menu */

.menu-item.active {
  background: rgba(99,102,241,0.15);
  color: white;
  border-left: 4px solid #6366F1;
}

/* footer */

.sidebar-footer {
  margin-top: auto;
  padding-top: 20px;
  border-top: 1px solid #1E293B;
}

/* logout */

.logout-btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;

  background: linear-gradient(135deg,#ef4444,#dc2626);

  color: white;
  cursor: pointer;
  font-size: 14px;

  transition: 0.25s;
}

.logout-btn:hover{
  transform: scale(1.03);
} 