*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

#left{
    height: 100%;
    width:50%;
    background-color:rgb(86, 10, 158);
}

#left h1{
    margin-top: 20%;
    padding: 0% 10%;
    font-size: 450%;
    font-weight: 600;
    color: white;
    /* background-color: white;
    width: fit-content;
    height: fit-content; */
}

#left h5{
    padding: 0% 30%;
    font-size: 100%;
    color: white;
    margin-top: 1%;
}

#left h3{
    padding: 0% 10%;
    margin-top: 8%;
    font-size: 250%;
    font-weight: 600;
    color: white;
}

#left p{
    padding: 0% 10%;
    margin-top: 2%;
    font-size: 120%;
    color: white;
}

#right{
    width: 30%;
    height: 100%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#login{
    width: auto;
    height: auto;
    background-color: white;
    position: absolute;
    right: 30%;
    border: 1px solid grey;
}

form{
    color: rgb(200, 204, 208);
    padding: 10%;
    text-align: center;
    color:black ;
}

form h1{
    text-align: center;
    margin-bottom: 10%;
}

form div{
    text-align: left;
}

form button{
    border-radius: 10%;
    padding: 5px 9px;
    cursor: pointer;
}

button:hover{
    background-color: green;
    color: white;
}

#error{
    color: red;
    margin-top: 10px;
    text-align: center;
}
