.hero {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1618221639244-c1a8502c0eb9?w=1200");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-content {
  color: white;
  max-width: 600px;
  margin-left: 80px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 1.5;
}

.hero-btn {
  padding: 12px 24px;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color:#4f46e5;
  color: white;
}

/* .dot {
  color: #ff6600;
} */
